.header {
  background-color: rgb(52, 152, 219);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header .left-section {
  width: 208px;
}

@media (max-width: 800px) {
  .header .left-section {
    width: unset;
  }
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header .header-link:hover {
  scale: 1.05;
  background-color: rgb(34, 103, 149);
}

.header .logo {
  height: 38px;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}

@media (max-width: 675px) {
  .header .logo {
    display: none;
  }

  .header .mobile-logo {
    display: block;
    height: 30px;
    margin-top: 1px;
  }
}

.header .middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.header .search-container {
  position: relative;
  flex: 1;
  max-width: 600px;
  margin: 0 24px;
}

.header .search-bar {
  flex: 1;
  width: 100%;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 20px;
}

.header .search-button {
  background-color: rgb(186, 255, 190);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 150px;
  flex-shrink: 0;

  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.header .search-icon {
  height: 15px;
  margin-left: 0px;
  margin-top: 3px;
}

.header .search-icon:hover {
  scale: 1.25;
}

.header .right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.header .orders-link {
  color: white;

  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}

.header .orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.header .cart-icon {
  width: 38px;
}

.header .cart-text {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-quantity {
  color: rgb(8, 79, 45);
  font-size: 14px;
  font-weight: 700;

  position: absolute;
  top: 8.5px;
  right: 46px;

  width: 26px;
  text-align: center;
}

.header .orders-link.active {
  text-decoration: underline;
}